// Font var
$fontFamily: 'Lato', sans-serif;
$fontLight: 300;
$fontRegular: 400;
$lineHeight: 1;
$fontSize: 18px;
$fontSizeSm: 16px;
$fontSizeLg: 21px;


// Color var
$grey: #F2F2F2;
$greyXs: #4F4F4F;
$greyMd: #828282;
$purple: #8139c5;
$white: #ffffff;
$black: #111111;


// Links
$colorLink: #F2F2F2;